<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- <bean id="aid" class="com.masai.A"> -->
	<!-- <property name="names"> -->
	<!-- <list> -->
	<!-- <value>Ram</value> -->
	<!-- <value>shyam</value> -->
	<!-- <value>puneet</value> -->
	<!-- <value>geeta</value> -->
	<!-- <value>ritu</value> -->
	<!-- </list> -->
	<!-- </property> -->
	<!-- </bean> -->

	<!-- <bean id="s1" class="com.masai.Student"> -->
	<!-- <constructor-arg name="roll" value="100" /> -->
	<!-- <constructor-arg name="name" value="Ram" /> -->
	<!-- <constructor-arg name="marks" value="780" /> -->
	<!-- </bean> -->
	<!-- <bean id="s2" class="com.masai.Student"> -->
	<!-- <constructor-arg name="roll" value="101" /> -->
	<!-- <constructor-arg name="name" value="Ramesh" /> -->
	<!-- <constructor-arg name="marks" value="680" /> -->
	<!-- </bean> -->
	<!-- <bean id="s3" class="com.masai.Student"> -->
	<!-- <constructor-arg name="roll" value="102" /> -->
	<!-- <constructor-arg name="name" value="Sunil" /> -->
	<!-- <constructor-arg name="marks" value="880" /> -->
	<!-- </bean> -->
	<!-- <bean id="cl1" class="com.masai.Collage"> -->
	<!-- <constructor-arg name="collageName" value="NIT" /> -->
	<!-- <property name="students"> -->
	<!-- <list> -->
	<!-- <ref bean="s1" /> -->
	<!-- <ref bean="s2" /> -->
	<!-- <ref bean="s3" /> -->
	<!-- </list> -->
	<!-- </property> -->
	<!-- </bean> -->


	<!-- <bean id="aid" class="com.masai.A"> -->
	<!-- <property name="names"> -->
	<!-- <list> -->
	<!-- <value>Delhi</value> -->
	<!-- <value>Chennai</value> -->
	<!-- <value>Kolkata</value> -->
	<!-- <value>Mumbai</value> -->
	<!-- </list> -->
	<!-- </property> -->
	<!-- </bean> -->


	<!-- <bean id="aid" class="com.masai.A"> -->
	<!-- <property name="theSet"> -->
	<!-- <set> -->
	<!-- <value>Red</value> -->
	<!-- <value>Blue</value> -->
	<!-- <value>White</value> -->
	<!-- <value>Green</value> -->
	<!-- </set> -->
	<!-- </property> -->
	<!-- </bean> -->

	<!-- <bean id="s1" class="com.masai.Student"> -->
	<!-- <constructor-arg name="roll" value="100" /> -->
	<!-- <constructor-arg name="name" value="Raj" /> -->
	<!-- <constructor-arg name="marks" value="700" /> -->
	<!-- </bean> -->
	<!-- <bean id="s2" class="com.masai.Student"> -->
	<!-- <constructor-arg name="roll" value="102" /> -->
	<!-- <constructor-arg name="name" value="Simran" /> -->
	<!-- <constructor-arg name="marks" value="720" /> -->
	<!-- </bean> -->
	<!-- <bean id="s3" class="com.masai.Student"> -->
	<!-- <constructor-arg name="roll" value="104" /> -->
	<!-- <constructor-arg name="name" value="Rajesh" /> -->
	<!-- <constructor-arg name="marks" value="750" /> -->
	<!-- </bean> -->
	<!-- <bean id="aid" class="com.masai.A"> -->
	<!-- <property name="theMap"> -->
	<!-- <map> -->
	<!-- <entry key-ref="s1" value="NIT" /> -->
	<!-- <entry key-ref="s2" value="GIET" /> -->
	<!-- <entry key-ref="s3" value="AMITY" /> -->
	<!-- </map> -->
	<!-- </property> -->
	<!-- </bean> -->

	<bean id="aid" class="com.masai.A">
		<property name="theProperties">
			<props>
				<prop key="Raj">Delhi</prop>
				<prop key="Sunil">mumbai</prop>
				<prop key="Bikash">Chennai</prop>
				<prop key="Anil">Kolkata</prop>
			</props>
		</property>
	</bean>








</beans>